.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 10%, rgba(234, 234, 234, 1) 16%, rgba(234, 234, 234, 1) 84%, rgba(255, 255, 255, 1) 90%);
    padding: auto;
}
.header {
    font-family: 'Great Vibes', cursive;
    font-size:larger;
    text-align: center;
}
.perfil{
    text-align: center;
}
.destacados{
   font-style:italic;
   font-size: large;
}
.section{
    padding-top: 20px;
    column-count: 2;
    column-gap: balance;
}
.estudios{
    border-radius: 0px 77px 77px 34px;
    border: 1px dashed #1a1a1a;
    width: auto;
    padding-left: 10px;
}
.experiencia{
    border-radius: 0px 77px 77px 34px;
    border: 1px dashed #1a1a1a;
    width: auto;
    padding-left: 10px;
}
.footer{
    text-align: center;
}