.tituloalojamiento {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.alojamientoscontainer {
    display: flex;
    justify-content: center;
}

.alojamientos {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.alojamiento {
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdbdf;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.4s;
}

.alojamiento:hover {
    background-color: #88168f;
    color: #dfdbdf;
}

.alojamientoimg {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.alojamientoimg img {
    border-radius: 20px;
    width: 80%;
    margin: 5px;
    transition: all;
    transition-duration: 0.4s;
}

.alojamientoimg img:hover {
    width: 410%;
}

.alojamientodata {
    display: none;
}


/*incia media*/

@media (min-width: 720px) {

    .alojamientos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .alojamiento {
        margin: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 40px;
        width: 45%;
        transition: all;
        transition-duration: 0.4s;
    }

    .alojamiento:hover {
        background-color: #88168f;
    }

    .alojamientoimg {
        flex-wrap: nowrap;
        width: 110%;
    }

    .alojamientoimg img:hover {
        width: 80%;
    }

    .alojamientodata {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;
        padding: 8px;
        text-align: center;
    }

    .alojamiento h3 {
        text-align: center;
        padding: 5px;
    }

}