.instructivo {
    padding: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88168f;
    border-radius: 40px;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.instructivo h2 {
    margin-top: 3px;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.instructivo p {
    display: block;
    font-size: small;
    text-align: justify;
    width: 92%;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
}

.formdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.formdata input {
    margin: 5px;
}

#Nombre {
    color: #88168f;
}

#mail {
    color: #88168f
}

.button {
    padding: 5px;
    margin: 10px;
}

.formulario textarea {
    margin-bottom: 20px;
}

.formulario label {
    text-align: center;
}

/*inicia media*/
@media (min-width: 720px) {
    .instructivo {
        border-radius: 0;
        padding: 30px;
        align-content: space-between;
    }

    .instructivo h2 {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .instructivo p {
        font-size: medium;
        text-align: justify;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formdata {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    .formdata input {
        margin: 10px;
    }
}