.tituloexperiencias {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.experiencias {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 20px;
}

.experiencia {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.experiencia h3{
    margin-top: 6px;
}
.experiencia button{
    margin-bottom: 10px;
}
.descripcionexperiencia {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.descripcionexperiencia p{
    display: none;
}
.descripcionexperiencia img {
    width: 80%;
    border-radius: 30px;
}
.experiencia:nth-child(2) {
    background-color: #88168f;
    color: #ffffff;
    transition: all;
    transition-duration: 0.4s;
}
.experiencia:nth-child(4) {
    background-color: #88168f;
    color: #ffffff;
    transition: all;
    transition-duration: 0.4s;
}

/*incia media*/
@media (min-width: 720px) {
.tituloexperiencias {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.experiencia {
    margin-bottom: 15px;
    border-radius: 30px;
    transition: all;
    transition-duration: 0.4s;
}

.experiencia:hover {
    background-color: #dfdbdf;
    padding: 10px;
}
.experiencia:nth-child(2) :hover {
   color: black;
}
.experiencia:nth-child(4):hover {
    color: black;
}

.experiencia h3 {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 2.5em;
}

.descripcionexperiencia {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcionexperiencia img {
    width: 50%;
    border-radius: 30px;
}

.descripcionexperiencia p {
    display: block;
    text-align: justify;
    width: 40%;
    font-size: xx-large;
}

.experiencia form {
    margin: 14px;
}
}