.tituloexperiencias {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.experienciascontainer {
    display: flex;
    justify-content: center;
}

.experiencias {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
}

.experiencia {
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdbdf;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.4s;
}

.experiencia:hover {
    background-color: #88168f;
    color: #dfdbdf;
}

.experiencia h3 {
    margin-top: 6px;
}

.descripcionexperiencia {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.descripcionexperiencia p {
    display: none;
}

.descripcionexperienciacelu {
    text-align: center;
    padding: 4px;
}

.descripcionexperiencia img {
    width: 40%;
    border-radius: 30px;
}

/*incia media*/
@media (min-width: 720px) {
    .tituloexperiencias {
        margin-bottom: 60px;
    }

    .experiencias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .experiencia {
        margin: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        padding: 20px;
        transition: all;
        transition-duration: 0.4s;
        max-width: 45%;
    }

    .experiencia:hover {
        background-color: #88168f;
    }

    .experiencia h3 {
        margin-top: 8px;
        margin-bottom: 15px;
        font-size: 2.5em;
    }

    .descripcionexperiencia {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .descripcionexperiencia img {
        max-width: 80%;
        border-radius: 30px;
    }

    .descripcionexperiencia p {
        display: block;
        text-align: justify;
        width: 35%;
        font-size: large;
    }

    .descripcionexperienciacelu {
        display: none;
    }
}