h1 {
    text-align: center;
}

.CONTENEDOR1 {
    width: 600px;
    border: 2px black solid;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
}

.CONTENEDOR2 {
    height: 600px;
    display: inline flex;
    flex-direction: row-reverse;
    border: 2px solid black;
    align-items: center;
}

.CONTENEDOR3 {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
}

.caja {
    color: white;
    font-size: 30px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}