<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end" style="text-align: center;"> Bienvenido {{usuario}}</p> <br>
        <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i
                    class="fas fa-sing-out-alt"></i></a>
    </div>
</div>