.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aquamarine;
    padding: 80;
}

.boton {
    width: 200px;
    height: 200px;
    padding: 30px 30px;
    margin: 20px;
    font-size: 25px;
    border-radius: 5px;
    color:aliceblue ;
    font-weight: bold;
    border: none;
    outline: none;
   
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
    }