@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size: 100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}

aside {
	background: #CCC59E;
	width: 190px;
	float: right;
}

@media screen and (min-width:200px) and (max-width:800px) {

	body {
		padding: 0px;
		margin: 0px
	}

	#contenedor {
		background: rgb(44, 83, 63);
		width: 100%;
	}

	nav {
		background: rgb(243, 176, 53);
		width: 100%;
		float: none;
	}

	nav ul {
		margin: 0;
	}

	nav ul li a {
		color: #000;
		padding: 10px;
		display: block;

	}

	section {
		width: 100%;
		margin-left: 0;
		border-top: solid black 1px;
		padding: 5px;
		float: none;
	}

	aside {
		border-top: solid black 1px;
		margin-left: 0;
		padding: 5px;
		width: 100%;
		float: none;
	}

}